<%= form_tag "/q" do %>
	<%= text_field_tag "q", params[:q], :size=>120 %>
	<%= submit_tag "搜索" %>
<% end %>

<p>
<h2><%= link_to @origin.title, @origin.url %></h2>
<%= link_to @translate.title, @translate.url %>
</p>

<%= debug(@reprints) %>

<%= debug(@translates) %>