<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!--STATUS OK-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>ios_网页搜索</title>
	<link rel="stylesheet" href="http://st.yahoo.cn/res/main.css">
	<link rel="stylesheet" href="http://st.yahoo.cn/res/result.css">
	<script src="http://st.yahoo.cn/js/Zero/base.js"></script>
	<script src="http://st.yahoo.cn/js/Zero/plugin/proxy.js"></script>
	<script src="http://st.yahoo.cn/js/suggest.js"></script>
	<script src="http://st.yahoo.cn/js/main.js"></script>
	<script src="http://st.yahoo.cn/js/global.js"></script>
	<link type="text/css" rel="stylesheet" href="chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/css/searchhelper.css">
	<style type="text/css">@media print { #feedlyMiniIcon { display: none; } }</style>
	<style type="text/css">#yddContainer{display:block;font-family:Microsoft YaHei;position:relative;width:100%;height:100%;top:-4px;left:-4px;font-size:12px;border:1px solid}#yddTop{display:block;height:22px}#yddTopBorderlr{display:block;position:static;height:17px;padding:2px 28px;line-height:17px;font-size:12px;color:#5079bb;font-weight:bold;border-style:none solid;border-width:1px}#yddTopBorderlr .ydd-sp{position:absolute;top:2px;height:0;overflow:hidden}.ydd-icon{left:5px;width:17px;padding:0px 0px 0px 0px;padding-top:17px;background-position:-16px -44px}.ydd-close{right:5px;width:16px;padding-top:16px;background-position:left -44px}#yddKeyTitle{float:left;text-decoration:none}#yddMiddle{display:block;margin-bottom:10px}.ydd-tabs{display:block;margin:5px 0;padding:0 5px;height:18px;border-bottom:1px solid}.ydd-tab{display:block;float:left;height:18px;margin:0 5px -1px 0;padding:0 4px;line-height:18px;border:1px solid;border-bottom:none}.ydd-trans-container{display:block;line-height:160%}.ydd-trans-container a{text-decoration:none;}#yddBottom{position:absolute;bottom:0;left:0;width:100%;height:22px;line-height:22px;overflow:hidden;background-position:left -22px}.ydd-padding010{padding:0 10px}#yddWrapper{color:#252525;z-index:10001;background:url(chrome-extension://eopjamdnofihpioajgfdikhhbobonhbb/ab20.png);}#yddContainer{background:#fff;border-color:#4b7598}#yddTopBorderlr{border-color:#f0f8fc}#yddWrapper .ydd-sp{background-image:url(chrome-extension://eopjamdnofihpioajgfdikhhbobonhbb/ydd-sprite.png)}#yddWrapper a,#yddWrapper a:hover,#yddWrapper a:visited{color:#50799b}#yddWrapper .ydd-tabs{color:#959595}.ydd-tabs,.ydd-tab{background:#fff;border-color:#d5e7f3}#yddBottom{color:#363636}#yddWrapper{min-width:250px;max-width:400px;}</style>
</head>

<body bgcolor="#fff" link="#0353CE" vlink="#800080">

	<div class="main_top">
		<div class="head">
			<a href="/" class="logo">
				<img src="http://st.yahoo.cn/res/images/logo_web.gif" width="135"></a>
			<div class="sbox">
				<%= form_tag "/s", :class=>"searchbox", :id=>"sbox1" do %>
					<span class="txt">
						<span>
							<%= text_field_tag "q", params[:q], :size=>50, :align=>"middel", :maxlength=>100, :autocomplete=>"off" %>
						</span>
					</span>
					<span class="btn">
						<span>
							<%= submit_tag "搜索", :align=>"middle" %>
						</span>
					</span>
				<% end %>
			</div>
			<div class="s_info">找到相关网页约487,316,157条</div>
		</div>
	</div>

	<div class="main_content">
		<div class="main_left"></div>

		<div class="content">
			<ul class="results">
				<div id="adcontainer1" style="padding:5px 10px;">
					<li class="record expand">
						<h3 class="title">
							<%= link_to @origin.title, @origin.url, :target=>"_blank" %>
						</h3>
						<a href="#" target="_blank" class="desc" style="word-wrap:break-word;">
							<em>[key]</em>文章出处
						</a>
						<%= link_to @origin.url, @origin.url, :target=>"_blank", :class=>"url" %>
					</li>
				</div>




				<% @translates.each do |translate| %>
				<li class="record">
					<h3 class="title">
						<%= link_to translate.title, translate.url, :target=>"_blank" %>
					</h3>
					<div class="desc" style="word-wrap:break-word;word-break:break-all;">
						免费的<em>iOS</em>6 软件更新包含超过 200 项全新功能，使了不起的先进移动操作系统更胜以往。
					</div>
					<span class="url">
						<%= translate.url %>
					</span>
					<span class="date">2013-01-02</span>
				</li>
				<% end %>



				<div id="adcontainer2" style="padding:5px 10px;">
					<li class="record expand">
						<h3 class="title">
							<%= link_to @origin.title, @origin.url, :target=>"_blank" %>
						</h3>
						<a href="#" target="_blank" class="desc" style="word-wrap:break-word;">
							<em>[key]</em>副标题
						</a>
						<%= link_to @origin.url, @origin.url, :target=>"_blank", :class=>"url" %>
					</li>
					<li class="record expand expand_last">
						<h3 class="title">
							<a onmousedown="return JSlog({'l':4,'id':21006,'ps':2})" href="#" target="_blank">
								<em>北京ios</em>
								年薪30万 企业定岗
								<em>北京ios</em>
								送全新开发笔记本 !
							</a>
						</h3>
						<a onmousedown="return JSlog({'l':4,'id':21006,'ps':2})" href="#">
							<em>北京ios</em>
							全网学费最低,定岗培训,学完即就业,年薪高达30万,唯一一家不就业退还全部学费.
						</a>
						<a onmousedown="return JSlog({'l':4,'id':21006,'ps':2})" href="#" target="_blank" class="url">ios.uplook.cn</a>
					</li>
					<!-- web16.search.cnh.yahoo.com compressed/chunked Tue Apr 30 21:42:54 CST 2013 -->
				</div>

				<img width="1" height="1" src="http://bj.data.cn.yahoo.com/default?s=2022408472"></ul>
			<div class="page">
				<span>1</span>
				<a href="s?q=ios&amp;page=2">2</a>
				<a href="s?q=ios&amp;page=3">3</a>
				<a href="s?q=ios&amp;page=4">4</a>
				<a href="s?q=ios&amp;page=5">5</a>
				<a href="s?q=ios&amp;page=6">6</a>
				<a href="s?q=ios&amp;page=7">7</a>
				<a href="s?q=ios&amp;page=8">8</a>
				<a href="s?q=ios&amp;page=9">9</a>
				<a href="s?q=ios&amp;page=10">10</a>
				&nbsp;
				<a href="s?q=ios&amp;page=2" class="btn btn_next">
					下一页
					<b>&gt;</b>
				</a>
				&nbsp;
			</div>

			<div class="sbox">
				<%= form_tag "/s", :class=>"searchbox", :id=>"sbox2" do %>
					<span class="txt">
						<span>
							<%= text_field_tag "q", params[:q], :size=>50, :align=>"middel", :maxlength=>100, :autocomplete=>"off" %>
						</span>
					</span>
					<span class="btn">
						<span>
							<%= submit_tag "搜索", :align=>"middle" %>
						</span>
					</span>
				<% end %>
			</div>
		</div>
		<div class="main_right" id="right" style="left: 950px;">
			<!-- web15.search.cnh.yahoo.com compressed/chunked Tue Apr 30 21:42:05 CST 2013 -->
		</div>
	</div>
	<div class="main_foot" id="foot">
		<a target="_blank" href="http://cn.yahoo.com/">雅虎首页</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a target="_blank" href="http://cn.mail.yahoo.com/">雅虎邮箱</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a target="_blank" href="http://cn.yahoo.com/allservice/index.html">雅虎大全</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a target="_blank" href="http://help.cn.yahoo.com/property_ponesearch.html">帮助中心</a>
		&nbsp;&nbsp;
		<br>
		Copyright&nbsp;©&nbsp;2013 中国雅虎版权所有&nbsp;不得转载&nbsp;&nbsp;
		<a target="_blank" href="http://misc.yahoo.com.cn/copyright.html">使用须知</a>
		&nbsp;
		<a target="_blank" href="http://cn.yahoo.com/copyright2007/index.html">著作权声明</a>
		<br>POWERED BY aliyun.com</div>
</body>
</html>


				<%= debug(@origins) %>

				<% debug(@reprints) %>

				<% debug(@translates) %>