<% provide(:title, "Any2cn") %>

<% content_for :head do %>
<style type="text/css">
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .sidebar-nav {
    padding: 9px 0;
  }

  @media (max-width: 767px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
      float: none;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
</style>
<% end %>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">Any2cn</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">结果</a></li>
          <li><a href="#about">关于</a></li>
        </ul>
        <form class="navbar-search" accept-charset="UTF-8" action="/s" method="post">
          <input type="text" class="search-query" placeholder="文章标题或网址..." id="q" name="q" value="<%= @input %>">
        </form>

        <form class="navbar-form pull-right">
          <a class="btn" href="#myModal" data-toggle="modal" id="share">分享译文</a>
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">

  <% unless @origin.nil? %>
  <div class="well">
    <h2><%= @origin.title %></h2>
    <small><a class="muted" href="<%= @origin.url %>"><%= @origin.url %></a></small>
  </div>
  <% end %>

  <div class="row">
    <% @translates.each do |translate| %>
    <div class="span12">
      <h4><a class="result_url" target="_black" href="<%= translate.url %>"><%= translate.title %></a></h4>
      <small class="muted"><%= translate.url %></small>
    </div>
    <% end %>
  </div>

  <hr>

</div><!-- /container -->


<div id="footer">
  <div class="container">
    <p>&copy; Any2cn.com 2013</p>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">发布译文</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-error" id="alert" style="display:none;"></div>
    <div id="form_div"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button type="button" class="btn btn-success btn-signin" id="btn_submit" data-loading-text="提交中..." data-complete-text="完成!">确定</button>
  </div>
</div>

<% content_for :foot do %>
<script type="text/javascript">
$(document).ready(function() {

  $("#q").mouseover(function() {
    this.select();
  });

});
</script>
<% end %>