<table cellpadding="10">
	<tr>
		<td><%= f.label :origin_title, "Origin Title:" %></td>
		<td><%= f.text_field :origin_title, size:50 %></td>
	</tr>
	<tr>
		<td><%= f.label :origin_url, "Origin URL:" %></td>
		<td><%= f.text_field :origin_url, size:100 %></td>
	</tr>
	<tr>
		<td><%= f.label :translate_title, "Translate Title:" %></td>
		<td><%= f.text_field :translate_title, size:50 %></td>
	</tr>
	<tr>
		<td><%= f.label :translate_url, "Translate URL:" %></td>
		<td><%= f.text_field :translate_url, size:100 %></td>
	</tr>
	<tr>
		<td><%= f.label :added_person, "Person:" %></td>
		<td><%= f.text_field :added_person, value:@submitter %></td>
	</tr>
</table>














