<table cellpadding="10">
	<tr>
		<td><%= f.label :title, "Title:" %></td>
		<td><%= f.text_field :title, :size=>100 %></td>
	</tr>
	<tr>
		<td><%= f.label :url, "URL:" %></td>
		<td><%= f.text_field :url, :size=>200 %></td>
	</tr>
	<tr>
		<td><%= f.label :page_rank, "Page Rank:" %></td>
		<td><%= f.text_field :page_rank %></td>
	</tr>
	<tr>
		<td><%= f.label :origin_id, "Origin ID:" %></td>
		<td><%= f.text_field :origin_id %></td>
	</tr>
	<tr>
		<td><%= f.label :added_person, "Person:" %></td>
		<td><%= f.text_field :added_person %></td>
	</tr>
</table>

<% if @translate.errors.any? %>
<ul>
  <% @translate.errors.full_messages.each do |msg| %>
    <li><%=msg%></li>
  <% end %>
</ul>
<% end %>